.nutrient {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    width: 258px;
    height: 124px;
    background-color: #FBFBFB;
    border-radius: 5px;

    div {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;

        img {
            width: 20px;
        }
    }

    p {
        font-size: 14px;
        color: #74798C;

        span {
            display: block;
            font-weight: 700;
            font-size: 20px;
            color: #282D30;
        }
    }
}